name: cloud tests

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Launch manually'

jobs:

  bigquery:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build with Maven
        run: mvn -pl :squashql-bigquery -am clean install --no-transfer-progress -DskipTests
      - name: Run bigquery tests
        run: mvn -pl :squashql-bigquery --no-transfer-progress -Pbigquery-test test
        env:
          SERVICE_ACCOUNT_KEY: ${{ secrets.SERVICE_ACCOUNT_KEY }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          DATASET_NAME: ${{ secrets.DATASET_NAME }}

  snowflake:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build with Maven
        run: mvn -pl :squashql-snowflake -am clean install --no-transfer-progress -DskipTests
      - name: Run snowflake tests
        run: mvn -pl :squashql-snowflake --no-transfer-progress -Psnowflake-test test
        env:
          SNOWFLAKE_JDBC_URL: ${{ secrets.SNOWFLAKE_JDBC_URL }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
